<app-navbar></app-navbar>

<div class="container">
  <div class="row">
    <div class="col-lg-3 mb-4">
      <app-filter-panel (filtersChange)="applyFilters($event)"></app-filter-panel>
    </div>
    
    <div class="col-lg-9">
      <h4>
        Produkty
        <span class="badge bg-secondary ms-2">{{ filteredProducts.length }}</span>
      </h4>
      <div class="row g-3">
        <div class="col-md-6 col-xl-4" *ngFor="let product of filteredProducts">
          <app-product-card [product]="product"></app-product-card>
        </div>
      </div>
    </div>

  </div>
</div>

<app-cart-sidebar></app-cart-sidebar>