<nav class="navbar bg-primary mb-4 shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand text-light" href="#">
      <i class="bi bi-cart4"></i>
      Mini Sklep
    </a>
    
    <button
      class="btn btn-light position-relative"
      data-bs-toggle="offcanvas"
      data-bs-target="#cartSidebar"
      >
      <i class="bi bi-cart3"></i>
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">{{ cartItemCount }}</span>
    </button>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-lg-3 mb-4">
      <app-filter-panel (filtersChange)="applyFilters($event)"></app-filter-panel>
    </div>
    
    <div class="col-lg-9">
      <!-- Produkty -->
      <div class="row g-3">
        <div class="col-md-6 col-xl-4" *ngFor="let product of filteredProducts">
          <app-product-card [product]="product"></app-product-card>
        </div>
      </div>
    </div>

  </div>
</div>

<app-cart-sidebar></app-cart-sidebar>